h1{
	text-align: center;
}
.para{
	padding: 10px;
	background-color:#e9ecef;
    color:black;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.sec-head{
	background-color: #B2BABE;
	text-align: center;
	width:120px;
	margin-top: -10px;
	margin-right: -10px;
}
article > p{
	
	clear: both
}
#chicken{
	background-color:#B2BABE;
}
.foot{
	background-color: #212529;
	height: 100px;
	color: white;
	text-align: center;
}
